.connexion-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.margin-title {
    margin: auto;
    padding: 15px;
}

.userName {
    height: 100%;
    width: 100%;
}

.rightAlignUser {
    display: inline-block;
    height: 100%;
    float: right;
}

.film-card-container {
    display: flex;
    width: 100%;
    align-content: space-around;
    flex-wrap: wrap;
}

.film-card {
    margin: 15px
}
