.comment {
    margin: 15px 25px 15px 25px;
    background-color: #fafafa;
    padding: 5px;
    box-shadow: 1px 2px 2px 0 #e3e3e3;
    border: 1px solid #efefef;
    border-radius: 2px;
}

.comment h4 {
    font-size: small;
    color: #545454;
    font-weight: 300;
}

.comment strong {
    font-weight: 500;
}

.comment-new-title {
    font-size: medium;
}
