.film-result {
    display: flex;
    margin: 40px;
}

.film-desc {
    padding: 0 15px;
}

.film-image {
    max-height: 232px;
    max-width: 154px;
}

.search-form {
    margin-top: 15px;
    margin-bottom: 15px;
}
