.Navbar {
    background-color: #7fa0d8;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

.Navbar div {
    display: flex;
    align-items: center;
}

.Navbar div span {
    margin: 5px;
    padding: 5px;
}

.Navbar .clickable:hover {
    background-color: yellow;
    border: 1px solid orangered;
}

.strong-text-navbar {
    color: white;
}
